.profileContainer {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.iconContainer {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @media (max-width: 1000px) {
    height: max-content;
    padding-bottom: 10px;
  }
}

.userContainer {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 20px;
  border: solid 1px grey;
  padding: 5px;

  @media (max-width: 1000px) {
    border: none;
    border-bottom: solid 1px grey;
  }
}

.userName {
  font-size: 20px;
  color: rgb(201, 201, 201);
}

.detailsContainer {
  border-top: solid 1px grey;
  padding-top: 20px;
  height: max-content;
  position: relative;
}

.hiddenText {
  p,
  article {
    filter: blur(4px);
  }
}

.hidingBackdrop {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222831;
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.3s;

  svg {
    color: white;
    font-size: 32px;
  }

  span {
    color: white;
  }

  &:hover {
    background-color: #262a31;
  }
}

.titleLabel {
  font-size: 22px;
  color: rgb(201, 201, 201);
  margin-bottom: 20px;
}

.label,
.mainLabel {
  font-size: 16px;
  span {
    color: rgb(201, 201, 201);
  }
  margin-top: 10px;
  color: white;
}

.genderLabel {
  margin-top: 10px;
  color: rgb(201, 201, 201);
  font-size: 16px;
  display: flex;
  align-items: center;

  span {
    display: flex;
    font-size: 12px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
  }
}

.mainInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.previewOrders {
  margin-top: 30px;
}

.actionsContainer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  gap: 20px;
  @media (max-width: 1000px) {
    justify-content: space-between;
  }
}

.editButton {
  display: flex;
  align-items: center;

  svg {
    font-size: 16px;
  }
}
