.userNavigationContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5%;
}

.conectNumberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;

  @media (max-width: 1250px) {
    width: 50%;
  }
}

.label {
  font-size: 14px;
  color: white;
}

.navigationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;

  @media (max-width: 1250px) {
    width: 25%;
  }

  .label {
    font-size: 14px;
    font-weight: bold;
  }
  .iconContainer {
    height: 100%;
    svg {
      font-size: 28px;
      color: white;
    }
  }
}

.cartButton {
  position: relative;
}

.badgeContainer {
  position: absolute;
  top: -20%;
  right: 20%;
  background-color: rgba(255, 217, 0, 0.534);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.badgeLabel {
  color: white;
  font-size: 11px !important;
}

.buttonContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.menuContainer {
  position: absolute;
  top: 100%;
  min-width: 250px;
  min-height: 100px;
  border: solid 1px white;
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  padding: 0px 10px;
}

.noItemLabel {
  color: white;
}

.singleElement {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 10px;
  height: 75px;
  align-items: center;
  border-bottom: solid 1px whitesmoke;
  &:last-child {
    border: none;
  }
}

.itemLabel {
  color: white;
  font-weight: bold;
}
.codeLabel {
  font-size: 12px;
  color: grey;
}

.productInfo {
  width: 50%;
}

.quantityContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.quantityControl {
  display: flex;
  gap: 5px;
}

.actionButton {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
  svg {
    width: 16px;
    height: 100%;
  }
}

.removeItemContainer {
  background-color: rgba(255, 255, 255, 0.614);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  color: rgb(106, 106, 106);
  cursor: pointer;
  transition: all 0.3s;

  svg {
    height: 18px;
    width: 18px;
  }

  &:hover {
    background-color: red;
    color: white;
  }
}

.totalContainer {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalLabel {
  color: grey;
}

.amount {
  color: white;
  font-weight: bold;
}
