.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.title {
  color: white;
  font-size: 38px;
  font-weight: bold;
}

.subtitle {
  color: grey;
  font-size: 18px;
  margin: 20px 0px;
}

.input {
  margin: 20px 0px;
  height: 50px;
}

.input {
  &:hover,
  &:active {
    border: solid 1px gold;
  }
}

.submitButton {
  width: 20%;
  border-radius: 2px;
  background-color: #555;
  color: white;
  border: solid 1px grey;

  &:hover,
  &:active {
    border: solid 1px gold;
  }
}
