.tabsContainer {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  min-height: 35px;
  height: 5%;
  align-items: center;
  margin: 1% auto;
  border-bottom: solid 1px grey;

  @media (max-width: 700px) {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    height: 5%;
    align-items: center;
    margin: 5% auto;
    border-bottom: solid 1px grey;
  }

  @media (max-width: 500px) {
    width: 90%;
  }
}

.tab {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px transparent;
  background: linear-gradient(to right, transparent 100%, #222 0%);
  transition: all 0.5s;
}

.selected {
  border-bottom: solid 2px gold;
  background: linear-gradient(
    to right,
    #22222283 0%,
    transparent 50%,
    #22222283 100%
  );
  transition: all 0.5s;
}

.label {
  color: white;
}
