.content {
  height: calc(100vh - 134px);
  overflow-y: auto;
  background-color: #393e46;

  @media (max-width: 1000px) {
    height: calc(100vh - 101px);
  }
}

.noHeaderContainer {
  height: 100vh;
  background-color: white;
  @media (max-width: 1000px) {
    height: 100vh;
  }
}
