.productsContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (max-width: 1400px) {
    width: 90%;
  }

  @media (max-width: 700px) {
    width: 100%;
  }
}

.productsFilterContainer {
  height: 20%;
  display: flex;
  align-items: center;
  @media (max-width: 700px) {
    justify-content: space-between;
    height: 13%;
    padding: 0px 10px;
    display: none;
  }
}

.filterMainLabel {
  font-size: 36px;
  font-family: var(--main-font-family);
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.685);
  width: 25%;

  @media (max-width: 1400px) {
    font-size: 30px;
  }

  @media (max-width: 1050px) {
    width: 30%;
  }

  @media (max-width: 800px) {
    width: 35%;
    font-size: 28px;
  }

  @media (max-width: 700px) {
    width: auto;
    display: none;
  }
}

.whiteLine {
  width: 50%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.296);
  @media (max-width: 1050px) {
    width: 40%;
  }
  @media (max-width: 700px) {
    display: none;
  }
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  gap: 20px;
  @media (max-width: 1050px) {
    width: 30%;
  }
  @media (max-width: 700px) {
    justify-content: flex-end;
    display: none;
  }
}

.filterText {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.597);

  @media (max-width: 700px) {
    display: none;
  }
}

.filterIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  svg {
    width: 27px;
    height: 27px;

    & path {
      filter: brightness(1) invert(0.6);
    }
  }
}

.selectedView {
  svg path {
    filter: brightness(1) invert(1);
  }
}

.productsList {
  display: flex;
  gap: 10px;
  @media (max-width: 700px) {
    margin: 0px 10px;
  }
}

.columnDirection {
  flex-direction: column;
}

.rowDirection {
  flex-direction: row;
  @media (max-width: 900px) {
    justify-content: center;
  }
  @media (max-width: 650px) {
    flex-direction: column;
    padding: 3px;
  }
}
