.checkoutContainer {
  width: 80%;
  height: 95%;
  margin: 20px auto 20px auto;
  display: flex;
}

.formContainer {
  width: 70%;
  outline: solid 1px white;
}

.itemsContainer {
  width: 30%;
  outline: solid 1px red;
  padding: 5px;
  background-color: #222831;
}
