.checkoutContainer {
  width: 80%;
  height: 91%;
  margin: 30px auto 0px auto;
  display: flex;
  gap: 10px;
  overflow-y: hidden;
}

.formContainer {
  width: 60%;
  border: solid 1px white;
  overflow-y: auto;
}

.itemsContainer {
  width: 40%;
  border: solid 1px #ccc;
  border-radius: 2px;
}
