.singleRouteContainer {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.productTitle {
  width: 100%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.titleLabel {
  font-size: 32px;
  color: white;
  font-family: var(--main-font-family);
  letter-spacing: 5px;
}
