.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.514);
}

.firstRow {
  display: flex;
  width: 100%;
  height: 100px;
}

.secondRow {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.logoContainer {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.searchContainer {
  width: 35%;
  display: flex;
  align-items: center;
  @media (max-width: 1000px) {
    width: 60%;
  }

  @media (max-width: 500px) {
    width: 55%;
  }
}

.userContainer {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 1000px) {
    display: none;
  }
}

.appLogo {
  width: 40%;
  @media (max-width: 980px) {
    width: 100%;
  }
}

.menuContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 980px) {
    display: none;
  }
}

.menuItems {
  width: 100%;
  padding-left: 2%;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.menuText {
  text-decoration: none;
  color: rgb(202, 202, 202);
  font-size: 16px;
  cursor: pointer;
  padding: 0px 10px;
  vertical-align: middle;
  background: linear-gradient(to left, rgb(202, 202, 202) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.5s ease-out;
  border-bottom: solid 1px rgba(202, 202, 202, 0.585);

  &:hover {
    color: black;
    background-position: right bottom;
  }

  &:last-child {
    margin-right: 5%;
  }
}

.mobileMenu {
  display: none;
  width: 10%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2.5%;
  @media (max-width: 980px) {
    display: flex;
  }
  @media (max-width: 500px) {
    width: 15%;
  }
}

.menuButton {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: transparent;
  border: solid 2px rgba(255, 255, 255, 0.5);
  padding: 12px;

  & > svg {
    width: 120%;
    height: 120%;
  }

  @media (max-width: 800px) {
    width: 45px;
    height: 45px;
  }
}

.drawer {
  background-color: white !important;
  border: solid 1px grey;

  & > div {
    & > div {
      &:first-child {
        height: 100px;
        flex: none;
      }
    }
  }
}

.drawerContentContainer {
  width: 100%;
  height: 80%;
  display: flex;
  margin-top: 20%;
  flex-direction: column;
  justify-content: space-around;
}

.drawerContent {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  width: 90%;
  border-bottom: solid 1px grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-size: 14px;
  }
}
