.profileContainer {
  width: 90%;
  margin: 20px auto 0 auto;
  display: flex;
  height: 96%;
  gap: 30px;
}

.leftSide {
  width: 50%;
  height: 100%;
}

.rightSide {
  width: 50%;
  height: 100%;
}
