.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  @media (max-width: 700px) {
    width: 90%;
  }
}

.title {
  color: white;
  font-size: 38px;
  font-weight: bold;
  @media (max-width: 900px) {
    font-size: 26px;
  }
}

.subtitle {
  color: grey;
  font-size: 18px;
  margin: 20px 0px;

  @media (max-width: 900px) {
    font-size: 14px;
  }
}

.input {
  margin: 20px 0px;
  height: 50px;
}

.input {
  &:hover,
  &:active {
    border: solid 1px gold;
  }
}

.row {
  width: 100%;
  display: flex;
}

.genderSelect {
  width: 45%;
}

.submitButton {
  width: 20%;
  border-radius: 2px;
  background-color: #555;
  color: white;
  border: solid 1px grey;
  margin-bottom: 20px;

  &:hover,
  &:active {
    border: solid 1px gold;
  }

  @media (max-width: 900px) {
    width: 40%;
  }
}
