.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  @media (max-width: 900px) {
    width: 90%;
  }
}

.title {
  color: white;
  font-size: 38px;
  font-weight: bold;
  @media (max-width: 900px) {
    font-size: 26px;
  }
}

.subtitle {
  color: grey;
  font-size: 18px;
  margin: 20px 0px;

  @media (max-width: 900px) {
    font-size: 14px;
  }
}

.input {
  margin: 20px 0px;
  height: 50px;
}

.row {
  width: 100%;
  display: flex;
  gap: 30px;
}

.genderSelect {
  width: 45%;
}

.submitButton {
  width: 20%;
  border-radius: 2px;
  cursor: pointer;
  background-color: #222831;
  color: white;
  border: solid 1px #222831;

  &:hover,
  &:active {
    background-color: #ffd369;
    color: #222831;
    border: solid 1px #ffd369;
  }

  @media (max-width: 900px) {
    width: 40%;
  }
}

.phoneInput {
  width: 98%;
  margin: 0 auto;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  margin: 20px 0px;
  outline: 0px !important;
  & > div {
    height: 100%;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  & > input {
    border: 0px;
    border-left: solid 1px rgb(197, 197, 197);
    height: 100%;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 16px;
    &:focus,
    &:active,
    &:hover,
    &:focus-visible {
      height: 100%;
      outline: 0px;
    }
  }
}

.inputsContainer {
  display: flex;
  width: 100%;
  gap: 20px;
  @media (max-width: 700px) {
    flex-direction: column;
    gap: 0px;
  }
}

.leftSide {
  width: 50%;
  @media (max-width: 700px) {
    width: 100%;
  }
}

.rightSide {
  width: 50%;
  @media (max-width: 700px) {
    width: 100%;
  }
}
