@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");

:root {
  --main-font-family: "Oswald", sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 217, 0, 0.759);
}

.App {
  background-color: #222831;
}

.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  span {
    width: 60px !important;
    height: 60px !important;
    color: rgba(255, 217, 0, 0.759);
  }
}

.loadingLabel {
  font-size: 20px;
  color: rgba(255, 217, 0, 1);
}
