.aboutPageContainer {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 42px;
  font-family: var(--main-font-family);
  color: rgba(255, 217, 0, 0.65);
  letter-spacing: 5px;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  height: 50%;
  align-items: center;
  gap: 10px;
}

.singleInfoContainer {
  border-right: solid 1px black;
  padding: 10px;

  &:last-child {
    border-right: none;
  }
}

.subTitle {
  font-size: 36px;
  font-family: var(--main-font-family);
  color: rgba(255, 217, 0, 0.65);
  letter-spacing: 2px;
}

.subContent {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}
